.mainmenu:hover,
.nav.mainmenu.expanded {
  width: 250px;
  overflow: visible;
}

.mainmenu {
  padding-top: 20px;
  position: absolute;
  background: #471193;
  border-right: 1px solid white;
  display: flex-column;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.mainmenu > .ul {
  margin: 7px 0;
}

.mainmenu .li {
  position: relative;
  width: 250px;
}

.mainmenu .li > .a {
  position: relative;
  display: flex;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.mainmenu .navicon {
  display: flex;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.mainmenu .nav-text {
  position: relative;
  display: flex;
  vertical-align: middle;
  width: 190px;
  font-family: "Titillium Web", sans-serif;
}

.mainmenu > .ul.logout {
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

.a:hover,
.a:focus {
  text-decoration: none;
}

.nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav .ul,
.nav .li {
  outline: 0;
  margin: 0;
  padding: 0;
}
.mainmenu .li:hover > .a,
.nav.mainmenu .li.active > .a,
.dropdown-menu > .li > .a:hover,
.dropdown-menu > .li > .a:focus,
.dropdown-menu > .active > .a,
.dropdown-menu > .active > .a:hover,
.dropdown-menu > .active > .a:focus,
.no-touch .dashboard-page .nav.dashboard-menu .ul .li:hover .a,
.dashboard-page .nav.dashboard-menu .ul .li.active .a {
  color: #fff;
  background-color: #000000;
}
.area {
  display: flex;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}
